.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-header h1 {
  font-size: 2em;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

nav ul li {
  position: relative;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

.portfolio-section {
  margin-bottom: 40px;
  padding: 20px;
}

.portfolio-section h2 {
  font-size: 1.8em;
  color: #333;
}

.portfolio-section p {
  font-size: 1.2em;
  color: #666;
}

.images {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-image {
  width: 100%;
  height: auto;
  max-width: 800px; /* Optional: limits the max width of the image */
  margin: 10px 0;
}

.subsections {
  margin-left: 20px;
}
