.project-details {
  padding-top: 100px; /* Adjust the value as needed to create space for the taskbar */
  text-align: center;
}

.project-details img {
  display: block;
  width: 100%;
  max-width: 800px;
  height: auto; /* Allow height to auto-adjust based on width */
  margin: 0 auto 20px;
  border-radius: 10px;
  border: 2px solid #ccc;
  object-fit: cover;
}

.additional-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.additional-images img {
  width: 100%;
  max-width: 1000px;
  height: auto; /* Fixed height for additional images */
  margin: 0 auto 20px;
  border-radius: 10px;
  border: 2px solid #ccc;
  object-fit: cover;
}
