.project-details {
  text-align: center;
  padding: 20px;
}

.project-details img {
  display: block;
  width: 600px;  /* Fixed width */
  height: 400px;  /* Fixed height */
  margin: 0 auto 20px;
  border-radius: 10px;
  border: 2px solid #ccc;
  object-fit: cover;
}

.additional-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
